@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;300&display=swap');

:root {
    --cor-primaria: #EEE9DA;
    --cor-secundaria: #2C3333;
    --cor-terciaria: #6096B4;

    --font-titulo: 'Krona One', sans-serif;
    --font-texto: 'Montserrat', sans-serif;
}

.apresentacao__imagem {
    width: 50%;
}

body{
    box-sizing: border-box;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.menu {
    display: flex;
    gap: 50px;
}

.menu__link {
    font-family: var(--font-texto);
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.cabecalho {
    background-color: var(--cor-terciaria);
    padding: 2% 0 2% 9%;
}

.strong{
    color: var(--cor-terciaria);
}

* {
    padding: 0;
    margin: 0;
}

.apresentacao {
    display: flex;
    align-items: center;
    margin: 4% 9%;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-titulo);
}

.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: var(--font-texto);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
}

.subtitulo {
    font-family: var(--font-titulo);
    width: 400;
    font-size: 1.25rem;
}

.botoes {
    width: 50%;
    border-radius: 8px;
    font-size: 1.0625rem;
    padding: 5px 0;
    color: var(--cor-secundaria);
    font-family: var(--font-texto);
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.botoes:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.rodape {
    font-family: var(--font-texto);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
}

@media (max-width: 1000px){
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .cabecalho {
        padding: 7%;
    }

    .menu {
        justify-content: center;
    }

    .botoes{
        gap: 2%;
    }
}